.git
.github
.cursor
**/node_modules
**/.env
**/.env.*
!**/.env.example
docs
**/*.md
!apps/**/README.md
!content/releases/**/*.md
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
coverage
**/coverage
apps/**/dist
.husky
